<form method="post" action="/tracks">
  <label>title</label>
  <input type="text" name="title">
  <label>author</label>
  <input type="text" name="author">
  <label>url</label>
  <input type="text" name="url">
  <input type="submit" value="Submit">
</form>